<html>

<head>
    <title>{{name}}'s Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/profile.css" type="text/css">
</head>



<body>
    <div class="container">
        {{>header}}
        <div class="userProfile">
            <img src="{{linkUrl}}">
            <h1>Hello, <br> {{name}}</h1>
             <div class="help-text">
                 <p>{{helpText}}</p>
            </div>
        </div>
        <div class="tasks">
            <h3>To do list:</h3>
            {{task}}
            <ul class="task_list">
                {{#each_dotask}}
                    <li>{{this}}</li>
                {{/each_dotask}}
            </ul>
            <h3>Tasks completed:</h3>
            {{task}}
            <ul class="task_list">
                {{#each_fintask}}
                    <li>{{this}}</li>
                {{/each_fintask}}
            </ul>
    </div>

             
        </div>
    
    <div class="main-content">
        
        


        

    </div>
    

    </div>
    
</body>

</html>